h6 {
    font-size: 17px;
    font-weight: bold;
    margin-top: 4px;
}

.prefix {
    padding-top: 12px;
}

#topSearch {
    padding: 16px 16px 0px 16px;
}

#brand {
    margin-left: 16px;
    font-weight: bold;
    font-size: 22px;
}

#main {
    margin-top: 32px;
}

.list {
    margin-top: 0px;
    margin-left: 16px;
}

.list-header {
    font-weight: bold;
    font-size: 16px;
}

.list-item {
    font-size: 14px;
    margin: 8px 16px 8px 16px;
}

#page ul li {
    display: inline;
}
/*
.carousel {
}

.carousel-item {
    width: 600px !important;
}*/

.c-item-text{
    display: block
    float: right;
}

.s-img{
    float: left;
    margin-left: 64px;
    height: 128px;
    width: 128px;
    background-repeat:no-repeat;
    background-size:cover;
}

.l-img{
    float: left;
    margin-left: 64px;
    height: 256px;;
    width: 256px;
    background-repeat:no-repeat;
    background-size:cover;
}

.game-icon {
    height: 70px;
    padding-right: 32px;
}

.card a {
    color: black;
}

.page-header {
    font-size: 24px;
    padding-left: 30px;
}

.vcenter {
    margin-top: 25vh;
}

.Progress-label{
    margin-right:10px;
}

progress{
    margin-top:25px;
}
