{% extends "sidenav_base.html" %} {% block content %}


<div class="row ">
    <div class="col m9 s12">
        <h5>{{game.name}}</h5></div>
    <div class="col m3 s12" style="margin-top:128px;">
        Platform: {{game.platform}}<br />Price: {{game.price}}<br />
        {% if purchased %}
        <a class="waves-effect waves-light btn" disabled="">Owned</a>
        {% else %}
        <a class="waves-effect waves-light btn" href="{% url 'purchase' game.id%}">Buy</a>
        {% endif %}

    </div>
</div>
<div class="row">
    <div class="col m9 s12" style="margin-top:-128px"><img src="{{game.header.url}}" class="game-image" /></div>
</div>
<div class="row">
    TAGS: {% for tag in gametags %}{{tag.name}} &nbsp &nbsp&nbsp{% empty %}{% endfor %}<br />
    {% if request.user.is_authenticated and purchased%}
    <input type="text" id="tag" />
    <input hidden="" type="text" id="userid" value="{{user.id}}" />
    <input hidden="" type="text" id="gameid" value="{{game.id}}" /><a class="waves-effect waves-light btn" id="addtag">add</a>
    {% endif %}
</div>
<div class="row">
    <div class="col m8 s12">
        <h6>Description</h6>
        {{game.description | linebreaksbr}}
    </div>
    <div class="col m4 s12">
        <h6>Reviews</h6>
        <ul>
            <li>User 1 : Review 1</li>
        </ul>
        <ul>
            <li>User 2 : Review 2</li>
        </ul>
        <ul>
            <li>User 3 : Review 3</li>
        </ul>
        <ul>
            <li>User 4 : Review 4</li>
        </ul>
        <ul>
            <li>User 5 : Review 5</li>
        </ul>
        <a class="waves-effect waves-light btn">Add</a>
    </div>


</div>

{% endblock %}
