{% extends "base.html" %} {% block content %}

<<<<<<< HEAD
<h4 align="center"> Forgot your password? </h4>
<p>
<p> Please enter your username or email:
=======
<div class="row">
    <p class="page-header">Recover my password</p>
</div>

<div class="row">

    <form class="container">
        <div>
            <label for="email">Please enter your username or email:</label>
            <input id="account" type="text" size="20">
        </div>
        <div align="center">
          <button class="btn" type="submit" name="sendNewPassword">Send new password
          </button>
        </div>
    </form>

</div>
>>>>>>> 2dcf90b3f63b5938a458f59f6e03bcfa43f8a735


{% endblock %}
