{% extends "sidenav_base.html" %} {% block content %}
{% if request.user.is_authenticated and recommended %}
<div class="row">
    <h6>Recommended games for you</h6>
    <div class="carousel carousel-slider center" data-indicators="true">
        {% for game in recommended %}
        <div class="carousel-item red white-text">
            <h2>{{game.name}}</h2>
            <p class="white-text">{{game.description|truncatewords:12}}</p>
            <div class="s-img" style="background-image:url('{{game.icon.url}}')"></div>
            <div class="c-item-text">
                <p class="white-text">{{game.platform}}</p>
                <p class="white-text">{{game.genre}}</p>
                <p class="white-text">${{game.price}}</p>
                <p class="white-text">{% for tag in game.tags.all %}{{tag.name}}{% empty %}{% endfor %}</p>
                <a class="btn waves-effect white grey-text darken-text-2" href="{% url 'details' game.id %}">view</a>
            </div>
        </div>
        {% empty %} {% endfor %}
    </div>
</div>
{% endif %}

{% if featured %}
<div class="row">
    <h6>Featured games for you</h6>
    <div class="carousel carousel-slider center" data-indicators="true">
        {% for game in featured %}
        <div class="carousel-item red white-text">
            <h2>{{game.name}}</h2>
            <p class="white-text">{{game.description|truncatewords:12}}</p>
            <div class="l-img" style="background-image:url('{{game.icon.url}}')"></div>
            <div class="c-item-text">
                <p class="white-text">{{game.platform}}</p>
                <p class="white-text">{{game.genre}}</p>
                <p class="white-text">${{game.price}}</p>
                <a class="btn waves-effect white grey-text darken-text-2" href="{% url 'details' game.id %}">view</a>
            </div>
        </div>
        {% empty %} {% endfor %}
    </div>
</div>
{% endif %}

{% endblock %}
