{% extends "base.html" %} {% block content %}

<div class="row">
    <p class="page-header">Login to FCP</p>
</div>
<div class="row">
    <div class="col m8 s12">
        <form method="post" action="" class="container">
            {% csrf_token %}

            <input type="hidden" name="next" value="{{ request.GET.next }}" />
            <div>
                <label for="username">Username</label>
                <input name="username" type="text" data-length="20">

            </div>
            <div>
                <label for="password">Password</label>
                <input name="password" type="password" size="20">

            </div>
            <div class="center">
                <button class="btn" type="submit">Login</button>
                <a class="waves-effect waves-light btn" href="../password_reset">Forget Password</a>
            </div>

        </form>
    </div>

    <div class="col m4 s12 center">
        <p>Or Login via Facebook / Github Account</p>
        <br />
        <a href="{% url 'social:begin' 'facebook' %}"><img src="/static/facebook.png" width="70" height="70"></a>&nbsp;
        <a href="{% url 'social:begin' 'github' %}"><img src="/static/github.png" width="70" height="70"></a>
    </div>

</div>

{% endblock %}
