{% extends "base.html" %} {% block content %}

{% if request.user.is_authenticated %}
<h4 align="center"> My Profile </h4>

<table border="1">
  <tr>
    <td width="20%"><img src="/static/avatar.png" width="150" height="150" align="top">
    <td width="80%">

      <div id="profile">
        <form>
           <div>
               <label for="username">Username</label>
               <input id="username" type="text" data-length="20" value="{{user.username}}" disabled>

           </div>
           <div>
               <label for="onscreenName">On-screen name</label>

               <input id="onscreenName" type="text" data-length="15" value="{{user.username}}">
                          </div>
           <div>
                <label for="email">Email</label>
               <input id="email" type="email" value="{{user.email}}">

           </div>
           <div>
               <label for="password">Password</label>
               <input id="password" type="password" value="{{user.password}}">

           </div>
         <p>
         <div>
           <button class="btn" type="submit" name="saveChange" id="savebtn">Save changes
           </button>
         </div>
       </form>
      </div>

    </td>
  </tr>
</table>

{% endif %}

{% endblock %}
