{% extends "base.html" %} {% block content %}

<div class="row">
    <p class="page-header">My Shopping Cart</p>
</div>
<div class="container">
    <form action="{% url 'purchase' game.id %}" method="post">
        {% csrf_token %}
        <table class="highlight centered ">
            <thead>
                <tr>
                    <th>Game icon</th>
                    <th>Game name</th>
                    <th>Platform</th>
                    <th>Original Price</th>
                    <th>Reward</th>
                    <th>Price after discount</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td><img src="{{game.icon.url}}" width="80" height="80"></td>
                    <td>{{game.name}}</td>
                    <td>{{game.platform}}</td>
                    <td id="price">${{game.price}}</td>
                    <td>
                        <div><select name="rewards" id="rewards">
              <option value="0" selected disabled>{%if rewards%}Use Reward(s){%else%}No Reward Avaialable{%endif%}</option>
              {%if rewards%}
              <option value="0">Don't use any reward</option>
              {%endif%}
              {% for reward in rewards|slice:":10"  %}
              <option value="{{forloop.counter}}">Use {{forloop.counter}} rewards(s)</option>

              {% empty %}
              {% endfor %}
          </select></div>
                    </td>
                    <td id="total">${{game.price}}</td>
                </tr>
            </tbody>

        </table>
        <div align="right">

            Pay By:
            <button class="btn" type="submit" name="creditCard">Credit Card
      </button>
            <button class="btn" type="submit" name="paypal">Paypal
      </button>
        </div>
    </form>
</div>

{% endblock %}
