{% extends "base.html" %} {% block content %}

<div class="row">
    <p class="page-header">Register your FCP account </p>{% if err %}{{err}}{%endif%}
</div>
<div class="row">
    <div class="col m8 s12">
        <form class="container" action="../register/" method="post" enctype="multipart/form-data">
            {% csrf_token %} {{ memberform.as_p }} <input type="submit" value="Submit" />
        </form>
    </div>
    <div class="col m4 s12 center vcenter">
        <p>Or Login via Facebook / Github Account</p>
        <br />
        <a href="{% url 'social:begin' 'facebook' %}"><img src="/static/facebook.png" width="70" height="70"></a>&nbsp;
        <a href="{% url 'social:begin' 'github' %}"><img src="/static/github.png" width="70" height="70"></a>
    </div>

</div>



{% endblock %}
