<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <link rel="stylesheet" href="/static/style.css" <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FUME Community Platform</title>
</head>

<body>

    <nav>
        <div class="nav container">
            <a href="/" id="brand">FUME Community Platform</a>
            <ul id="nav-mobile" class="right">
                {% if request.user.is_authenticated %}
                <li>
                    <div class="Progress">
                        <span class="Progress-label">{{spending|add:-100}} until next reward</span>
                        <progress max="100" value="{{spending}}" class="Progress-main">
                            <div class="Progress-bar" role="presentation">
                                <span class="Progress-value" style="width: {{spending}}%;"> </span>
                            </div>
                        </progress>
                    </div>

                </li>

                <li>
                    <!-- Dropdown Trigger -->
                    <a class='dropdown-button' href='#!' data-activates='dropdown_reward'>{{rewards|length}} rewards</a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown_reward' class='dropdown-content'>
                        {% for r in rewards %}
                        <li><a href="#!">Reward {{forloop.counter}} exp. {{r.expiration_date}}</a></li>
                        {% empty %}
                        {% endfor %}
                    </ul>

                </li>

                <li>
                    <a class="dropdown-button" href="#!" data-activates="dropdown_user">{{user.username}}<i class="material-icons right">arrow_drop_down</i></a>

                    <ul id="dropdown_user" class="dropdown-content">
                        <li><a href="{% url 'mygames'%}">My game</a></li>
                        <li><a href=".{% url 'myprofile'%}">Edit my profile</a></li>
                        <li><a href="{% url 'logout'%}">logout</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="../register">register</a></li>
                <li><a href="../login">login</a></li>
                {% endif %}

            </ul>
        </div>
    </nav>

    <div id="topSearch" class="row container">
        <div class="input-field col s12">
            <i class="material-icons prefix">search</i>
            <input type="text" id="autocomplete-input" class="autocomplete">
            <label for="autocomplete-input">Search for a game</label>
        </div>
    </div>


    <div id="main" class="row container">
        <div id="sidenav" class="col s3">
            <ul class="list">
                <li class="list-header">Browse By Genere</li>
                {% for genre in genres %}
                <li class="list-item"><a href="../genres/{{ genre.abbr }}">{{ genre.name }}</a></li>
                {% empty %} {% endfor %}
            </ul>
            <ul class="list">
                <li class="list-header">Browse By Tag</li>
                {% for tag in tags %}
                <li class="list-item"><a href="../tags/{{ tag.name }}">#{{ tag.name }}</a></li>
                {% empty %} {% endfor %}
            </ul>


        </div>

        <div id="content" class="col s9">
            {% block content %}{% endblock %}
        </div>

    </div>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <script src="/static/main.js"></script>
</body>

</html>
