{% extends "sidenav_base.html" %} {% block content %}
<h5> Browsing Games with #{{thisTag}} </h5> {% for game in games%}
<div class="card">
    <a href="../games/{{game.id}}">
        <div class="card-content">
            <img class="game-icon left" src="{{game.icon.url}}" />
            <h5>{{game.name}}</h5> Platform: {{game.platform}} Genre: {{game.genre}}

            <br /><br />
            <p>{{game.description | linebreaks | truncatewords:33}}</p>

        </div>
    </a>
</div>
{% empty %}{% endfor %} {% endblock %}
